* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  cursor: default;
  background-color: #F0F0F0;
  color: #1C1C1A;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);  /* optional drop shadow */
}

.logo-container img {
  height: 40px;
  width: auto;
  fill: white;
}

#pianoRollContainer {
  display: flex;
  width: 90%;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-view {
  align-items: center;
  max-height: 100vh;
  overflow-y: auto;
}

.main-piano-roll-view {
  align-items: flex-start;
  /* max-height: none;
  overflow-y: unset; */
}

.col-sx {
  width: 65%;
  margin: 10px;
}

.col-dx {
  max-height: 365.60px;
  overflow-y: auto;
  width: calc(35% - 20px);
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  color: #F0F0F0;
  background-color: #944038;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button {
  /* ... existing button styles ... */
  border-bottom: 3px solid #381815;  /* A darker shade for 3D effect */
  position: relative;  /* Required for the top movement on hover */
  transition: all 1.1s ease;  /* Transition for all properties */
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

button:hover {
  transform: scale(1.05);
}

.piano-roll-svg {
  border: 2px solid #381815;
}

.piano-roll-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 30%;
}

.piano-roll-card-expanded {
  width: 100%;
  margin: 0;
}

.piano-roll-card-thumb {
  width: calc(100% - 20px);
  margin: 10px;
}

.first-piano-roll-card-thumb {
  width: calc(100% - 20px);
  margin: 0 10px;
}

.description {
  margin: 10px;
}

.svg-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.svg-container-expanded {
  width: 95%;
}

.selection {
  position: absolute;
  top: 0;
  background-color: #94403854;
  height: 300px;
  border-left: 1px solid #000;
  border-right: 2px solid #000;
  text-align: right;
}

.remove-selection-btn {
  padding: 2px 4px;
  font-size: 6px;
  border-bottom: 1px solid #381815;
  transition: unset;
  border-radius: 3px;
  top: -5px;
  right: 3px;
}

/* mobile */
@media screen and (max-width: 700px) {
  .main-piano-roll-view {
    flex-direction: column;
  }

  .piano-roll-card {
    width: 100%;
  }

  .piano-roll-card-thumb.piano-roll-card {
    width: calc(100% - 20px);
  }

  .col-sx {
    width: calc(100% - 20px);
  }

  .col-dx {
    width: 100%;
  }
}